//MIXIN that converts pixels to rems
// In your css write like this: 
// font-size: rem(23px); 
//Your font-size will be converted to rems

$font-size-base: 16 !default;

// Strip units
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Relative units from pixels
$mixin--baseFontSize: $font-size-base;

@function rem($pixels, $context: $mixin--baseFontSize) {
  $u-pixels: strip-unit($pixels);
  $u-context: strip-unit($context);
  
  @return $u-pixels / $u-context * 1rem;
}

// ------------------------------------------