/*
    ==============
    CONTAINER SIZE
    ==============
                    */

@mixin container {
    width: 100%;
    @include margin-x (auto);
    @include padding-x (15px);
    @include phablet-up {
        max-width: 540px;
    }
    @include tablet-up {
        max-width: 720px;
    }
    @include desktop-up {
        max-width: 960px;
    }
    @include large-desktop-up {
        max-width: 1140px;
    }
}

@mixin container-fluid {
    width: 100%;
    @include margin-x (auto);
    @include padding-x (15px);
}

/*
    ============
    MARGINS AND PADDING
    ============
                    */

@mixin margin-x ($size) {
    margin-right: $size;
    margin-left: $size;
}

@mixin margin-y ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin mb-primary {
    margin-bottom: $margin-bottom-primary;
}

@mixin mb-secondary {
    margin-bottom: $margin-bottom-secondary;
}

@mixin padding-x ($size) {
    padding-right: $size;
    padding-left: $size;
}

@mixin padding-y ($size) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin pt-primary {
    padding-top: $padding-top-primary;
}

@mixin pt-secondary {
    padding-top: $padding-top-secondary;
}

@mixin pt-tertiary {
    padding-top: $padding-top-tertiary;
}

/*
    ==================
    MIXINS FOR FLEXBOX
    ==================
                        */

@mixin flex-center {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

@mixin space-around {
    display: flex;
    justify-content: space-around;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin column-reverse {
    flex-direction: column-reverse;
}

/*
    ==========
    Z-INDEXES
    ==========
                */ 

@mixin z-index-5 {
    z-index: 555;
}

@mixin z-index-4 {
    z-index: 444;
}

@mixin z-index-3 {
    z-index: 333;
}

@mixin z-index-2 {
    z-index: 222;
}

@mixin z-index-1 {
    z-index: 111;
}

@mixin z-index-minus-1 {
    z-index: -1;
}

/*
    ====================================
    MIXINS FOR IMAGES AND BACKGROUND IMAGES
    ====================================
                                            */
@mixin img-responsive {
    max-width: 100%;
    height: auto;
}

@mixin contain {
    background-size: contain;
}

@mixin no-repeat {
    background-repeat: no-repeat;
}

/*
    =========
    ASPECT RATIO BOXES
    =========
*/

//Aspect Ratio Box v1  

@mixin aspect-ratio-box {
    height: 0;
    padding-top: $aspect-ratio-box-height / $aspect-ratio-box-width * 100%;
}

//Aspect Ratio Box v2
//putting content inside an aspect ratio box
//Elements should be nested in this order. 

@mixin aspect-ratio-box-container {
    height: 0;
    overflow: hidden;
    padding-top: $aspect-ratio-box-height / $aspect-ratio-box-width * 100%;
    background: $primary-bg;
    position: relative;
}

@mixin aspect-ratio-box-container-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin aspect-ratio-box-container-inner-flex {
    height: 100%;
    @include flex-center;
}

@mixin aspect-ratio-box-text {
    font-size: $aspect-ratio-box-text; 
}

/*
    =============
    OTHER MIXINS
    =============
                    */

@mixin absolute-position {
    position: absolute;
    top: 0px;
    right: 0px;
}

@mixin navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-between;
    flex-direction: row;
    margin-bottom: 0;
    list-style: none;
    @include padding-y (.5rem);
    @include padding-x (1rem);
    text-decoration: none;
}

@mixin uppercase {
    text-transform: uppercase;
}

//only display content to screen readers
@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  @mixin no-bullets {
    list-style-type: none;
  }

  @mixin text-left {
      text-align: left;
  }

  @mixin text-center {
    text-align: center;
}